{
  "presets": ["@babel/preset-env", "@babel/typescript"],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ],
  "env": {
    "development": {
      "plugins": [
        ["module-resolver", {
          "extensions": [".js", ".ts"],
          "alias": {
            "~": "./src/test-utils",
            "library": "./src/library",
            "test-data": "./src/test-data"
          }
        }]
      ]
    },
    "production": {
      "plugins": [
        ["module-resolver", {
          "extensions": [".js", ".ts"],
          "alias": {
            "~": "./src/test-utils",
            "library": "./src/library",
            "test-data": "./src/test-data"
          }
        }]
      ]
    },
    "test": {
      "plugins": [
        ["module-resolver", {
          "extensions": [".js", ".ts"],
          "alias": {
            "~": "./src/test-utils",
            "library": "./src/library",
            "test-data": "./src/test-data"
          }
        }]
      ]
    }
  }
}
