{
  "presets": [
    ["@babel/preset-env", {
      "targets": { 
        "node": "10"
      }
    }],
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ],
  "env": {
    "test": {
      "plugins": [
        ["module-resolver", {
          "extensions": [".js", ".ts"]
        }]
      ]
    },
    "development": {
      "plugins": [
        ["module-resolver", {
          "extensions": [".js", ".ts"]
        }]
      ]
    },
    "production": {
      "plugins": [
        ["module-resolver", {
          "extensions": [".js", ".ts"]
        }]
      ]
    },
  }
}
